.Listadidos {
  width: 100%;
  margin-top: 30px;
  height: 300px;
}

.ListaPedidos h2 {
  background-color: black;
  color: white;
  padding-top: 1px;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
}

.PedidosThead {
  color: white;
  align-items: center;
  text-align: center;
}

.PedidosTabla {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
}
.pedidos-total {
  background-image: linear-gradient(to right, #f4b45a 0%, #c651a7 100%);
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 170px;
  height: auto;
}

.TRpedidos {
  background-color: #ed8013;
}

.pedidosTR {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.eliminarPedido {
  border-radius: 15px;
}

.BotonesBottom {
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.CrearPedido {
  background-color: white;
  border-style: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.BotonSalir {
  padding: 10px;
  margin-top: 0%;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
}
.pedido-usuario {
  margin-bottom: 20px;
}
.crear-pedido {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  margin-bottom: 30px;
}
